/* ºÊ»›iphone4/4s */
div.logo {
    width: 138px;
    height: 110px;
    left: 50%;
    margin-left: -69px;
}

#iSlider-wrapper div.content {
    font-size: 0.9rem;
    line-height: 1.3rem;
    height: 70%;
}